.netrwhist
npm-debug.log

plug.vim.old

zsh/zsh-autosuggestions/
config/nvim/spell
config/nvim/shada
config/nvim/plugged
config/nvim/autoload/plug.vim
vim/vim.symlink/spell/
vim/vim.symlink/plugged/

.DS_Store

errors
